**/target/
.idea
*.iml
*.class
*Test.java
**/test/
**/application-dev.yml
**/application-prod.yml
**/application-local.yml
**/application-*.yml
!**/application.yml
!**/application-template.yml
!**/application-example.yml
